<head>
  <link
    rel="stylesheet"
    href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    integrity="sha384-Hc1sT890+6UOVvZhhIwJssLbN6lvN7tCfSTnEhpvbE5pDZ+RmGPFmYXaP5bOd18J"
    crossorigin="anonymous"
  />
  <script
    src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
    integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZEo78H6fsN1RzoKXBDWpie"
    crossorigin="anonymous"
  ></script>
</head>

<nav
  style="text-indent: 5px"
  class="navbar navbar-expand-lg navbar-dark bg-dark"
>
  <a class="navbar-brand" href="#"> Catálogo</a>
  <button
    class="navbar-toggler"
    type="button"
    data-toggle="collapse"
    data-target="#navbarNav"
    aria-controls="navbarNav"
    aria-expanded="false"
    aria-label="Toggle navigation"
  >
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="/dados">Novo</a>
      </li>
    </ul>
  </div>
</nav>

<router-outlet></router-outlet>
